@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@theme{
  --breakpoint-sm:300px;
  --breakpoint-md:768px;
  --breakpoint-lg:1040px;
  --breakpoint-xl:1366px;
}

*{
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}


/* src/index.css */
body {
  margin: 0;
  font-family: sans-serif;
  background: radial-gradient(circle at center, #2b1d0f, #000);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.links a {
  margin: 0 12px;
  color: #ccc;
  cursor: pointer;
}

.lang-btn {
  border: 1px solid #e0b47b;
  color: #fff;
  padding: 11px 32px;
  border-radius: 60px;
}

.hero {
  text-align: center;
  margin-top: 60px;
}

.swap-form {
  margin: 40px auto;
  background: #1a1208;
  padding: 20px;
  border-radius: 16px;
}

.swap-card {
  display: flex;
  justify-content: space-between;
  background: #2a1c10;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.swap-card input {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  width: 100px;
  text-align: right;
}

.switch-btn {
  width: 100%;
  background: #c49b63;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0;
}

.swap-btn {
  width: 50%;
  background: linear-gradient(90deg, #c49b63, #e3b87f);
  border: none;
  padding: 15px 6px;
  border-radius: 12px;
  color: black;
  font-style: italic;
}
